{% extends 'base.html' %}

{% load pybo_filter %}



{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr>

            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
            </td>


            <td>
                <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
                {% if question.answers.count > 0 %}
                 <span class="text-danger small mx-2">{{ question.answers.count }}</span>
                {% endif %}
            </td>

            <td>{{ question.create_date }}</td>


        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>



    <!-- 페이징 UI 호출 -->
{% load pagination_tags %}

<!-- 페이징처리 시작 -->
{% render_pagination question_list %}
<!-- 페이징처리 끝 -->

   

    <a href="{% url 'pybo:question_create'  %}"  class="btn btn-primary" >질문등록</a>
</div>



{% endblock content %}
